@model List<RegisteringApp.Models.Client>
@{
    ViewData["Title"] = "Index";
}

<div>
    <h3>Index</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var client in Model)
            {
                <tr>
                    <td>@client._ID?.Id</td>
                    <td>@client.FirstName @client.LastName</td>
                    <td>@client.Email</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@client.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@client.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>