@model List<RegisteringApp.Models.Client>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <h1>Welcome to Registering Project Site</h1>
        <p>Goal of this website is to showcase my ability to not only create ASP.Net Websites but demonstrate storing data into a server by allowing user to add and remove clients at anytime.</p>

        <div class="mt-3">
            <a asp-controller="Clients" asp-action="Create" class="btn btn-primary">Add Client</a>
        </div>
        <h2 class="mt-4">Clients List</h2>
        @if (Model == null || !Model.Any())
        {
            <h3>No data in registry</h3>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var client in Model)
                    {
                        <tr>
                            <td>@client.Id</td>
                            <td>@client.FirstName @client.LastName</td>
                            <td>@client.Email</td>
                            <td>
                                <a asp-controller="Clients" asp-action="Edit" asp-route-id="@client.Id" class="btn btn-warning btn-sm">Edit</a>
                                <a asp-controller="Clients" asp-action="Delete" asp-route-id="@client.Id" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
